<!doctype html>
<html ng-app="rbAnalyticsApp" ng-cloak="">
<head>
 <script src="angular.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<link rel="stylesheet" href="style.css">

</head>
<body ng-controller="rbAnalyticsCtrl as rbAnalyticsC">

<div class="reasons" ng-if="!flag && !feeds.length>0">

	<form class="form-wrapper cf">
		<input type="text" placeholder="Type keywords to search in Social Media ..." name="searchText" ng-model="searchText" required>
		<button  ng-click="searchFeeds(searchText)" type="submit">Search</button>
	</form>

 </div>
 <div class="reasons" ng-if="feeds.length>0"><div class="byline"><p>Feeds from social networks</p></div></div>
 <div class="reasons" ng-if="flag && feeds.length===0">Sorry, no results found!</div>
<div class="reasons" ng-if="feeds.length>0">
	<div class="byline">
  <div style="float: left; width: 100px;"></div>  
 <div id="chart-container" style="float: left; width: 600px;">
 	 <table >
		  <tr>
		    <th>S.no</th>
		    <th>Source</th>
		    <th>Feed Date</th>
		    <th>Feed By</th>
		    <th>Location</th>
		    <th>Feed</th>
		  </tr>
		  <tr ng-repeat="feed in feeds">
		  	<td>{{$index+1}}</td>
		  	<td>{{feed.source}}</td>
		    <td>{{feed.feedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
		    <td>{{feed.feedBy}}</td>
		    <td>{{feed.location}}</td>
		    <td>{{feed.feed}}</td>
		  </tr>
		</table>
 </div>
		</div>
 <div style="float: left; width: 100px;"></div> 
 <br style="clear: left;" /> 
</div>
<div class="reasons" ng-if="flag">

		<button  ng-click="clearFeeds()" type="submit">Home</button>

</div>
</body>
</html>
