<!doctype html>
<html ng-app="rbAnalyticsApp" ng-cloak="">
<head>
 <script src="angular.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<style>
table, th, td {
    border: 1px solid green;
}
.reasons {
	width:800px; 
	margin:0 auto;
	padding-top: 30px;
	color: blue;
}

.back {
	width:800px; 
	margin:0 auto;
	padding-top: 20px;
}

</style>
</head>
<body ng-controller="rbAnalyticsCtrl as rbAnalyticsC">

<div class="reasons" ng-if="!flag && !feeds.length>0">
	Enter your search text <input type="text" name="searchText" ng-model="searchText" /></br>
	Submit : <input ng-click="searchFeeds(searchText)" type="submit"/> 
 </div>
 <div class="reasons" ng-if="feeds.length>0">Feeds from social networks</div>
 <div class="reasons" ng-if="flag && feeds.length===0">Sorry, no results found!</div>
<div class="reasons" ng-if="feeds.length>0">
  <div style="float: left; width: 100px;"></div>  
 <div id="chart-container" style="float: left; width: 600px;">
 	 <table >
		  <tr>
		    <th>S.no</th>
		    <th>Source</th>
		    <th>Feed Date</th>
		    <th>Feed By</th>
		    <th>Location</th>
		    <th>Feed</th>
		  </tr>
		  <tr ng-repeat="feed in feeds">
		  	<td>{{$index+1}}</td>
		  	<td>{{feed.source}}</td>
		    <td>{{feed.feedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td> 
		    <td>{{feed.feedBy}}</td>
		    <td>{{feed.location}}</td>
		    <td>{{feed.feed}}</td>
		  </tr>
		</table>
 </div>
 <div style="float: left; width: 100px;"></div> 
 <br style="clear: left;" /> 
</div>
<div class="reasons" ng-if="flag">
	<input ng-click="clearFeeds()" value="home" type="submit"/>
</div>
</body>
</html>
